<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Kil Matheus Gomes Teixeira</title>
</head>

<body>
    <div class="centered bg">
        <div class= "centered">
            <img src="{{ url_for('static', filename = 'IMG_0258.png') }}" alt="Foto de Perfil" id="foto" class='foto'>
        </div>
        <div class="apresentacao bg">
            <div class="col-7 col-md-9 col-xl-9">
                <h3 id="start">Estudante de Engenharia da Computação - Inteli</h3>
                <h3 id="start">São Paulo, Brasil</h3>
                <br>
                <h3>CONTATOS: </h3>
                <br>
                <a><img src="{{ url_for('static', filename = 'mail.png') }}" alt="Email" class='icons'> kil.teixeira@sou.inteli.edu.br / kil_matheus@hotmail.com</a>
                <br>
                <a><img src="{{ url_for('static', filename = 'whatsapp.png') }}" alt="Whatsapp" class='icons'>(11) 974153065</img></a>
                <br>
                <a href="https://www.linkedin.com/in/kil-matheus-gomes-teixeira-78257020a"><img src="{{ url_for('static', filename = 'linkedin.png') }}" alt="Linkedin" class='icons'> Kil Matheus</a>
                <br>
                <a href="https://www.instagram.com/kilmatheus/"><img src="{{ url_for('static', filename = 'instagram.png') }}" alt="Linkedin" class='icons'> @kilmatheus</a>
            </div>
        </div>
    </div>

    <div>
        <div class='corpo'>
            <h1>Kil Matheus Gomes Teixeira, 23</h1>
            <h2><img src="{{ url_for('static', filename = 'contract.png') }}" alt="Sumário" class='icons'>Sumario</h2>
            <hr>
            <p class="centered fundo">Sou estudante universitário de Engenharia da Computação,autodidata. Experiência em comunicação com outros setores. Conhecimento básico em linguagens de programação Python, Java e JavaScript, desenvolvimento Web e back-end, aplicando a Metodologia Scrum.</p>

            <h2><img src="{{ url_for('static', filename = 'quality.png') }}" alt="Experiência Profissional" class='icons'>Experiência Profissional</h2>
            <hr>
            <div class='centered'>
                <ul class="">
                        <li><p>ATVOS -Summer Internship - Desenvolvimento de um Dashboard em PowerBI sincornizado com o Google Cloud para análise de consumo de processamento e faturamento</p></li>
                        <li><p>Inteli - Automatização de Serviço utilizando um Braço Robótico</p></li>
                        <li><p>Inteli - Robô Automatizado para análise de locais Confinados</p></li>
                        <li><p>Inteli - IOT de localização de objetos perdidos</p></li>
                        <li><p>Inteli - Inteligência Artifical que encontrasse padrões e tendências de funcionários próximos de Turnover</p></li>
                        <li><p>Inteli - Criação de uma página WebApp</p></li>
                        <li><p>Inteli - Criação de um Jogo Educativo</p></li>
                        <li><p>Vtal - Summer Internship - Desenvolvemos um insights de uma plataforma de Avaliação utilizando ferramentas como Figma e React para programação. Na qual precisávamos entender qual era a real dificuldade do nosso cliente afim de entregar a melhor solução que atendessem as suas necessidades.</p></li>
                </ul>
            </div>
        </div>
  </div>
</body>

</html>